/* Overall container */
.container {
    display: flex;
    justify-content: space-between; /* Separate left and right content */
    padding: 20px;
  }
  
  /* Left side content */
  .left-content {
    flex: 1;
  }
  
  /* Right side content */
  .right-content {
    flex: 1;
    margin-left: 20px; /* Add some margin for spacing between left and right content */
  }
  
  /* Title styling */
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Project styles */
  .project {
    background-color: #fce38a;
    padding: 20px;
    margin: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Form styles */
  .new-subtask-form {
    background-color: #95e1d3;
    padding: 20px;
    margin: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Input styles */
  .new-subtask-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Select styles (drop-down menu) */
  .new-subtask-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Button styles */
  .new-subtask-form button[type="submit"],
  .new-subtask-form button[type="button"] {
    background-color: #f38181;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Button hover effect */
  .new-subtask-form button[type="submit"]:hover,
  .new-subtask-form button[type="button"]:hover {
    background-color: #d61c1c;
  }
  
  /* Delete button styles */
  .project button[type="button"] {
    background-color: #f38181;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Delete button hover effect */
  .project button[type="button"]:hover {
    background-color: #d61c1c;
  }
  
  /* Add Member Button Styles */
  .new-subtask-form button[type="button"] {
    background-color: #95e1d3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Name of Subtasks Styles */
  .project p {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
    margin-left: 0;
  }
  